certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
console-menu==0.6.0
cryptography==2.9.2
idna==2.9
ldap3==2.7
ntlm-auth==1.4.0
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pypsrp==0.4.0
requests==2.23.0
six==1.14.0
tk==0.1.0
urllib3==1.25.9
